.homeSlogans {
	position: relative;
	display: flex;
	justify-content: center;
	height: 100%;
}

.homeSections {
	border-top-style: dashed;
	border-color: inherit;
	margin-top: 2rem;
	padding-top: 0.75rem;
	width: 100%;
    border-color: rgb(200,200,200);
}

@keyframes fadein {
	from {
		opacity: 0%;
	}
	to {
		opacity: 100%;
	}
}

@keyframes fadeout {
	from {
		opacity: inherit;
	}
	to {
		opacity: 0%;
	}
}

@keyframes slidein {
	from {
		transform: translateX(-120%);
	}
	to {
		opacity: 100%;
		left: 0;
	}
}

@keyframes slideinright {
	from {
		transform: translateX(120%);
	}
	to {
		opacity: 100%;
		left: 0;
	}
}

#homeSection2,
#homeSection {
	opacity: 0;
	animation-delay: 1.5s;
	animation-name: slidein;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

#homeSection2 {
	animation-delay: 2s;
 	float: right;
	animation-name: slideinright;
}

#slogan1Out,
#slogan1Start,
#slogan1 {
	opacity: 0%;
	animation-delay: 0.25s;
	animation-name: fadein;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}

#slogan2Out,
#slogan2Start,
#slogan2 {
	opacity: 0%;
	animation-delay: 0.5s;
	animation-name: fadein;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}

#slogan3Out,
#slogan3Start,
#slogan3 {
	opacity: 0%;
	animation-delay: 0.9s;
	animation-name: fadein;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}


@media screen and (max-width: 960px) {

	#slogan1Start {
		opacity: 0%;
		position: absolute;
		animation: none;
		top: 0;
	}
	#slogan1 {
		opacity: 0%;
		position: relative;
		top: 0;
		animation-delay: 1s;
		animation-name: fadein;
		animation-duration: 1s;
		animation-fill-mode: forwards;
	}

	#slogan2Start {
		opacity: 0%;
		position: absolute;
		animation: none;
		top: 0;
	}
	#slogan2 {
		opacity: 0%;
		position: absolute;
		top: 0;
		animation-delay: 1s;
		animation-name: fadein;
		animation-duration: 1s;
		animation-fill-mode: forwards;
	}

	#slogan3Start {
		opacity: 0%;
		position: absolute;
		animation: none;
		top: 0;
	}
	#slogan3 {
		opacity: 0%;
		position: absolute;
		top: 0;
		animation-delay: 1s;
		animation-name: fadein;
		animation-duration: 1s;
		animation-fill-mode: forwards;
	}

	#slogan1Out {
		opacity: 0%;
		position: relative;
		top: 0;
		animation-delay: 0s;
		animation-name: fadeout;
		animation-duration: 1s;
		animation-fill-mode: forwards;
	}

	#slogan2Out {
		opacity: 0%;
		position: absolute;
		top: 0;
		animation-delay: 0s;
		animation-name: fadeout;
		animation-duration: 1s;
		animation-fill-mode: forwards;
	}

	#slogan3Out {
		opacity: 0%;
		position: absolute;
		top: 0;
		animation-delay: 0s;
		animation-name: fadeout;
		animation-duration: 1s;
		animation-fill-mode: forwards;
	}

	#homeSection {
		position: relative;
	}

}
