.homeSlogans {
	position: relative;
	display: flex;
	justify-content: center;
	height: 100%;
}

.homeProject {
	opacity: 1;

}

.homeTitle {
	font-size: 1.5rem;
	color: rgb(75,75,75);
	text-align: center;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeout {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes slidein {
	from {
		transform: translateX(-120%);
	}
	to {
		opacity: 1;
		left: 0;
	}
}

@keyframes slideinright {
	from {
		transform: translateX(120%);
	}
	to {
		opacity: 1;
		left: 0;
	}
}

#homeSection2,
#homeSection {
	opacity: 1;
	animation-delay: 1.5s;
	animation-name: slidein;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

#homeSection2 {
	animation-delay: 2s;
 	float: right;
	animation-name: slideinright;
}

#slogan1Out,
#slogan1Start,
#slogan1 {
	opacity: 0;
	animation-name: fadein;
	animation-duration: 1.5s;
	animation-fill-mode: forwards;
}

#slogan2Out,
#slogan2Start,
#slogan2 {
	opacity: 0;
	animation-name: fadein;
	animation-duration: 1.5s;
	animation-fill-mode: forwards;
	animation-delay: 0.5s;
}

#slogan3Out,
#slogan3Start,
#slogan3 {
	opacity: 0;
	animation-name: fadein;
	animation-duration: 1.5s;
	animation-fill-mode: forwards;
	animation-delay: 1s;
}


@media screen and (max-width: 960px) {

	.titleLeft {
		margin-left: 2rem;
	}

	#slogan1Start {
		opacity: 0;
		position: absolute;
		animation: none;
		top: 0;
	}
	#slogan1 {
		opacity: 1;
		position: relative;
		top: 0;
		transition: 1s;
		transition-delay: 1s;
	}

	#slogan2Start {
		opacity: 0;
		position: absolute;
		animation: none;
		top: 0;
	}
	#slogan2 {
		opacity: 1;
		position: absolute;
		top: 0;
		transition: 1s;
		transition-delay: 1s;
	}

	#slogan3Start {
		opacity: 0;
		position: absolute;
		animation: none;
		top: 0;
	}
	#slogan3 {
		opacity: 1;
		position: absolute;
		top: 0;
		transition: 1s;
		transition-delay: 1s;
	}

	#slogan1Out {
		opacity: 0;
		position: relative;
		top: 0;
		animation: fadeout;
		animation-duration: 1s;
		animation-fill-mode: forwards;
	}

	#slogan2Out {
		opacity: 0;
		position: absolute;
		top: 0;
		animation: fadeout;
		animation-duration: 1s;
		animation-fill-mode: forwards;
	}

	#slogan3Out {
		opacity: 0;
		position: absolute;
		top: 0;
		animation: fadeout;
		animation-duration: 1s;
		animation-fill-mode: forwards;
	}

	#homeSection {
		position: relative;
	}

}
