
.footer {
	padding: 1rem;
	color: rgb(220, 220, 220);
	box-sizing: border-box;
}

.footerLink {
	color: rgb(220, 220, 220);
	text-decoration: none;
	margin: 1.5rem;
}
.footerLink:hover {
	text-decoration: underline;
	width: 100%;
}

@media screen and (max-width: 960px) {

	.footerLink {
		margin: 0.7rem;
	}

}
