.slogan {
	width: 30%;
	border-style: dotted;
	border-color: rgb(200, 200, 255);
	border-radius: 10px;
    color: rgb(75,75,75);
	margin: 1rem;
	margin-top: 2rem;
	z-index: 0;
}

.sloganTitle {
	font-size: 1.35rem;
	padding: 2rem;
}

.sloganImg {
	width: 50%;
	box-sizing: border-box; /* Prevent extending out of border */
}

.sloganInfo {
	font-size: 1.1em;
	padding: 2rem;
}

@media screen and (max-width: 960px) {

	.slogan {
		width: 100%;
		box-sizing: border-box;
		margin: 1rem 0;
	}

	.sloganTitle {
		font-size: 1.25rem;
		padding: 1.5rem;
	}

	.sloganImg {
		width: 40%;
	}

	.sloganInfo {
		font-size: 1.1em;
		padding: 1.5rem;
	}
}
